<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.karthik.SpringDemo.SpringExample8.Triangle" scope="singleton">
		<property name="pointA" ref="zeroPoint"></property>
		<property name="pointB" ref="leftPoint"></property>
		<property name="pointC" ref="rightPoint"></property>
	</bean>
	
	<bean id="zeroPoint" class="com.karthik.SpringDemo.SpringExample8.Point">
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>

	<bean id="leftPoint" class="com.karthik.SpringDemo.SpringExample8.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="rightPoint" class="com.karthik.SpringDemo.SpringExample8.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
<bean class="com.karthik.SpringDemo.SpringExample8.DisplayBeanFactoryPostProcessor"></bean>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations" value="myspring.properties"></property>
</bean>
</beans>